/* #cornerBlurTwo{
    position: absolute;
    right: 0;
    bottom: 100px;
    filter: blur(200px);
    overflow: hidden; 
    width: 200px;
    height: 200px;
    background-color: blue;  
}  */


.header-buttons{
    .header-button{
        /* border-radius: 48px; */
        width: 200px;
        height: 50px;
        @media (max-width: 991px){
            width: 500px;
            height: 60px;
            margin: 10px;
            @media (max-width: 536px){
                width: 450px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .header-button {
      margin: 5px;
    }
  }