


.header-buttons{
    .header-button{
        /* border-radius: 48px; */
        width: 200px;
        height: auto;
        @media (max-width: 991px){
            width: 500px;
            height: 60px;
            margin: 10px;
            @media (max-width: 536px){
                width: 450px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
     }
     .header-button {
       margin: 5px;
    }
  }

  .header-section{
    width: 100%;
    min-height: 800px;
    @media(max-width:768px){
      min-height: 950px;

  }
    

  h1{
      font-size: 4rem;
  }
    p{
      font-size: 20px;
    }
  } 

  